API_ID=20757297 # get this value from my.telegram.org
API_HASH=92ec84086d015a3cbca50d64ef1b4bb7 # get this value from my.telegram.org
BOT_TOKEN=7570858660:AAGw3LQW31MkFWTV5Qb-oDB2h-eibbi2sH0 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://2004:2004@king.q3h5k.mongodb.net/?retryWrites=true&w=majority&appName=King
LOG_GROUP_ID=-1001611691248 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=BQE8uzEAekEPgP3DqoaSU_Q3STeLSPCVgTUxWAHC3v1wd7JzcEEVyrRLgBUZ4i9iUqvBT9rF_w2_kQ3HeOrZozhsmRJGgujkJWcIs969NRiA65-m7utjtGDt-jRB9AdPwq-jlYmPZIkd_F6S8WEOii6mSvbZKBBr40VkLKL-UzEEw4oEdTsbz43WYCqf6eJOdZPbkXle3jlA-n_LwJS9vyRve5dy5dcwTumaMim9bwlAbnR31C06Tmv6KNvBPB61jiHBigKkdUiEZQb4poL4EsFMJYhh_oUo-r6M-tHxal8sdlYiq9DDlRKwsl2twe-v1G0G6ZPI7qPDWoBhZy1q2bK_pzEWPgAAAAFqqMtdAA # get this value from @yukkistringbot
OWNER_ID=5050578106
